<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="environment" source="environment"/>
    <property name="log.app.name" value="notify-telegram-bot"/>

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>194.87.237.197:50000</destination>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <threadName/>
                <logstashMarkers/>
                <pattern>
                    <pattern>
                        {
                        "app": "${log.app.name}",
                        "message": "%message%n%ex{full}",
                        "environment": "${environment}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="logstash"/>
    </root>
</configuration>